<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mwlocation" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>mwlocation</name>
    <js-module name="mwlocation" src="www/mwlocation.js">
        <clobbers target="cordova.plugins.mwlocation" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="mwlocation">
                <param name="android-package" value="com.mei1.cordova.location.mwlocation" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-feature android:name="android.hardware.location.gps" />
        </config-file>
        <source-file src="src/android/mwlocation.java" target-dir="src/com/mei1/cordova/location" />
        <framework src="src/android/devapp.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>